/* ===== BASE ===== */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* ===== VISUALIZADOR ===== */
body.obs {
  background: transparent;
}

#coluna {
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.portrait {
  width: 220px;
  opacity: 1; /* 100% OPACIDADE */
  filter: grayscale(100%);
  transform: scale(0.9);
  transition:
    transform 3s ease,
    filter 3s ease;
}


.portrait img {
  width: 100%;
  border-radius: 14px;
}

.portrait.ativo {
  opacity: 1;
  filter: grayscale(0%) brightness(1);
  transform: scale(1.25);
}

/* ===== CONTROLE ===== */
body.controle-ui {
  background: #0e0e13;
  color: white;
  width: 600px;
  height: 1080px;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.lista-cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-horizontal {
  display: flex;
  gap: 12px;
  padding: 14px;
  background: #171720;
  border-radius: 16px;
  border-left: 4px solid #7a1f1f;
}

.card-horizontal img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
}

.campos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campos input {
  background: #242432;
  border: none;
  padding: 8px 10px;
  color: white;
  border-radius: 10px;
}

.botoes {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

button {
  padding: 12px 22px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #7a1f1f, #b83b3b);
  color: white;
}

