body {
  margin: 0;
  font-family: sans-serif;
}

body.obs {
  background: transparent;
}

#coluna {
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.portrait {
  width: 220px;
  transition: all 0.4s ease;
  opacity: 0.4;
  transform: scale(1);
}

.portrait img {
  width: 100%;
  border-radius: 12px;
}

/* Jogador ativo */
.ativo {
  opacity: 1;
  transform: scale(1.35);
}
